{% load static %}
<!--================ Start Footer Area =================-->
  <footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Обо мне</h6>
            <p>
              Наумовец Даниил, python backend разработчик, в активном поиске работы.
            </p>
          </div>
        </div>
<!--        <div class="offset-4 col-lg-3  col-md-6 col-sm-6">-->
<!--          <div class="single-footer-widget mail-chimp">-->
<!--            <h6 class="mb-20">Instragram Feed</h6>-->
<!--            <ul class="instafeed d-flex flex-wrap">-->
<!--              <li><img src="{% static 'img/instagram/i1.jpg' %}" alt=""></li>-->
<!--              <li><img src="{% static 'img/instagram/i2.jpg' %}" alt=""></li>-->
<!--              <li><img src="{% static 'img/instagram/i3.jpg' %}" alt=""></li>-->
<!--              <li><img src="{% static 'img/instagram/i4.jpg' %}" alt=""></li>-->
<!--              <li><img src="{% static 'img/instagram/i5.jpg' %}" alt=""></li>-->
<!--              <li><img src="{% static 'img/instagram/i6.jpg' %}" alt=""></li>-->
<!--              <li><img src="{% static 'img/instagram/i7.jpg' %}" alt=""></li>-->
<!--              <li><img src="{% static 'img/instagram/i8.jpg' %}" alt=""></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
        <div class="offset-lg-7 col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Контакты</h6>
            <p>Давайте быть на связи</p>
            <div class="footer-social d-flex align-items-center">
              <a href="https://www.linkedin.com/in/daniilnaumovets/">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://vk.com/daniilnaumovets">
                <i class="fab fa-vk"></i>
              </a>
              <a href="https://github.com/Naumovets">
                <i class="fab fa-github-square"></i>
              </a>
              <a href="https://t.me/daniilnaumovets">
                <i class="fab fa-telegram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
        <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Naumovets D.</p>
      </div>
    </div>
  </footer>
  <!--================ End Footer Area =================-->